body {
    width: 600px;
    line-height: 1.5em;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.width-100p {
    width: 100%;
}
.text-color-black {
    color: #000;
}
.font-13 {
    font-size: 15px;
}
.green {
    color: green;
}
.hidden {
    visibility: visible;
}